button,
main,
input[type="text"] {
    width: 100%
}

:root {
    --primary-color: #FFF;
    --secondary-color: #E8EFFF;
    --botao-text: #FFF;
    --botao-background: #100075;
    --botao-hover: #1901ac;
    --text-color: #111;
    --border-color: #181818;
    --shadow-color: rgba(0, 0, 0, .2)
}

main,
input[type="text"] {
    text-align: center;
    box-sizing: border-box
}

button,
input[type="text"] {
    padding: .9375rem
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: var(--primary-color);
    background: linear-gradient(0deg, var(--primary-color) 0%, var(--secondary-color) 85%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 100%
}

button,
main{
    font-size: 1rem
}

main {
    overflow: hidden;
    background-color: var(--primary-color);
    padding: 3.75rem 2.5rem;
    border-radius: 1.25rem;
    max-width: 21.875rem;
    box-shadow: 0 .25rem .9375rem var(--shadow-color);
    margin: 1.25rem
}

input[type="text"] {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    font-size: 1.1rem;
    border-width: 2px;
    border: 1.95px solid var(--border-color);
    border-radius: .5rem
}

button {
    background-color: var(--botao-background);
    width: fit-content;
    color: var(--botao-text);
    border: none;
    border-radius: .9rem;
    cursor: pointer;
    font-weight: 600
}

button:hover {
    background-color: var(--botao-hover)
}